<div class="login-container">
  <h1>Login</h1>
  <form (ngSubmit)="login()" class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>Matrícula</mat-label>
      <input matInput [(ngModel)]="matricula" name="matricula" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" [(ngModel)]="senha" name="senha" required />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Entrar</button>
  </form>
</div>